services:
  # FastAPI Web Service
  - type: web
    name: testudot-api
    runtime: docker
    plan: free
    region: ohio
    envVars:
      - key: PORT
        value: 8000
      - key: IS_SERVER
        value: "true"
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: REDIS_URL
        sync: false
      - key: REDIS_TOKEN
        sync: false
    # Command to run the API
    dockerCommand: uv run main.py serve --host 0.0.0.0 --port $PORT
